@import "tailwindcss";

theme {
  --color-nenes-yellow: #e2b407;
  --color-nenes-red: #b81d24;
}

body {
  background-color: #e2b407;
  color: #000000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-geist-sans), sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}